<h1></h1>
<h2>Book an Island</h2>
<div class="card-container">
  <%@islands.each do |island|%>
  <div class="card-island col-md-3">
    <h3><%=island.title%></h3>
    <h3><%=island.name%></h3>
  <p> <%= link_to "Delete this island", island_path(island), method: :delete, data: { confirm: "Are you sure?" } %></p>

    <%=link_to "Know more about this island", island_path(island)%>
    <br>
    <br>
    <%= link_to "Book now", new_island_booking_path(island), class: "btn btn-primary"%>
    <%#=image_tag("cocktail.jpg",width: 500) %>
    <%= link_to "Add an island", new_island_path, class: "btn btn-primary"%></p>

  </div>
  <% end %>
  </div>
</div>
<p></p>
