<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.2) 50%), url(https://res.cloudinary.com/dwkzd2xzh/image/upload/v1558957833/index_banner_cmpdu3.jpg);">
  <div class="container">
    <h3>Welcome on Islander!</h3>
    <%= simple_form_for :search, url: islands_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="title">
    <h3>Our islands</h3>
  </div>
  <div class="home-island-cards">
    <% @islands.each do |island| %>
      <div class="home-island-card">
        <%= cl_image_tag island.photo, height: 300, crop: :fill %>
        <div class="home-island-card-content">
          <h5><%= island.name %></h5>
          <p><%= island.title %></p>
          <p><%= island.country %></p>
        </div>
        <div class="home-island-card-actions">
          <%= link_to "Know more about this island", island_path(island)%>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="add">
        <% if policy(Island).create? %>
          <%= link_to "Add an island", new_island_path, class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>

</div>

