<div class="container container-bg-image">
  <div class="row justify-content-center">
    <h3 class='text-center'>Add my awesome island</h3>
    <div class="col-md-8">
      <%= simple_form_for @island, html: { class: "form-bg-white" } do |f| %>
        <%= f.input :name %>
        <%= f.input :country, collection: Island::COUNTRIES, input_html: { class: 'select2' } %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :number_of_guests %>
        <%= f.input :price_per_day %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <div class="form-btn">
          <%= link_to "Cancel", islands_path, class: "btn btn-outline-danger" %>
          <%= f.submit "Confirm", class: "btn btn-primary" %>
        </div>
       <% end %>
    </div>
  </div>
</div>



