<div class="container total">
  <div class="big-card d-flex">
    <!-- CARD TRIP -->
    <div class="card-trip col-xs-12 col-md-8 col-lg-6">
      <!-- CAROUSEL -->
      <%= render 'shared/carousel' %>
      <!-- INFO RECAP -->
      <div class="card-trip-infos">
        <div>
          <h2><%= @island.name %></h2>
          <h3><%= @island.title %></h3>
          <br>
          <br>
          <h4>About:</h4>
          <p><%=@island.description%></p>
          <br>
          <br>
          <div class="recap">
            <p style = "text-align:right;"><i class="fas fa-users"></i> <%=@island.number_of_guests%> guests max </p>

            <p style = "text-align:right;"><i class="fas fa-globe-americas"></i><%=@island.country%></p>

            <p style = "text-align:right;"><i class="fas fa-money-bill-wave"></i><%=@island.price_per_day%>   € per day</p>
          </div>
        </div>

        <!-- ownerpics -->
        <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
      </div>
    </div>

    <!-- CARD INFO -->
    <div class="card-info col-xs-12 col-md-4 col-lg-6">
      <!-- CARD MAP/METEO -->
      <%= render 'shared/map' %>
      <%= render 'shared/meteo' %>
      <%= render 'shared/booking' %>
    </div>
  </div>
</div>
<!-- REVIEWS CARDS -->
<div class="reviews col-xs-12">
    <h2 class="container">Reviews</h2>
    <h3><% @island.reviews.each do |review|%></h3>
      <div>
        <div class="d-flex">
          <%= "#{review.booking.user.first_name}" + ". " + "#{review.booking.user.last_name.first}" %>
          <p><%= review.created_at.strftime("%b %d, %Y") %></p>
        </div>
        <div style="margin-top: 16px;">
          <p class="review"><%=review.content%></p>
          <p><%=review.stars%></p>
        </div>
        <div style="margin-top: 24px; margin-bottom: 24px;">
          <div class="_7qp4lh"></div>
        </div>
      </div>
    <% end %>
</div>



<!-- <select name="paylogic_product_selection[4997896fd71243a2ae0c424cd0f1116b]" id="quantity_field" class="form__select form__simple-select" data-value="8.2" tabindex="4">
  <option value="0" selected="selected">0</option><option value="1" >1</option>
  <option value="2" >2</option>
  <option value="3" >3</option>
  <option value="4" >4</option>
  <option value="5" >5</option>
  <option value="6" >6</option>
</select>
 -->





































<h2>About the owner</h2>
<h2>Reviews</h2>
<br><% @island.reviews.each do |review|%></h1>
  <p><%=review.content%></p>
  <p><%=review.stars%></p>
<% end %>
<br>
<br>
<br>
<%= link_to "Book a stay", new_island_booking_path(@island), class: "btn btn-primary"%>
<%#= link_to "Add a review", booking_path(@island.booking), class: "btn btn-primary"%>
<br>
<br>
<h1>Existing booking</h1>
<p><%@island.bookings.each do |booking|%></p>
  <p>From: <%=booking.start_date%> </p>
  <p>To: <%=booking.end_date%></p>
  <p>For: <%=booking.total_price%> $</p>
  <p><%= link_to "Delete the booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %></p>
<% end %>
<br>
<br>
<%= link_to "Go back to islands list", islands_path, class: "btn btn-primary"%>


