<div>
  <h1><%= @island.title %></h1>
  <h2><%= @island.name %></h2>
  <h2>About </h2>
<p><%=@island.description%></p>
<p>Number of guests : <%=@island.number_of_guests%></p>
<p> Price per day : <%=@island.price_per_day%></p>
</div>
<h2>About the owner</h2>
<h2>Reviews</h2>
<br><% @island.reviews.each do |review|%></h1>
  <p><%=review.content%></p>
  <p><%=review.stars%></p>
<% end %>
<br>
<br>
<br>
<%= link_to "Book a stay", new_island_booking_path(@island), class: "btn btn-primary"%>
<%#= link_to "Add a review", booking_path(@island.booking), class: "btn btn-primary"%>
<br>
<br>
<h1>Existing booking</h1>
<p><%@island.bookings.each do |booking|%></p>
  <p>From: <%=booking.start_date%> </p>
  <p>To: <%=booking.end_date%></p>
  <p>For: <%=booking.total_price%> $</p>
  <p><%= link_to "Delete the booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %></p>
<% end %>
<br>
<br>
<%= link_to "Go back to islands list", islands_path, class: "btn btn-primary"%>

