<div class="container total">
  <div class="big-card d-flex">
    <!-- CARD TRIP -->
    <div class="card-trip col-xs-12 col-md-8 col-lg-6">
      <!-- CAROUSEL -->
      <%= render 'shared/carousel' %>
      <!-- INFO RECAP -->
      <div class="card-trip-infos">
        <div>
          <h2><%= @island.name %></h2>
          <h3><%= @island.title %></h3>
          <br>
          <br>
          <h4>About:</h4>
          <p><%=@island.description%></p>
          <br>
          <br>
          <div class="recap">
            <p style = "text-align:right;"><i class="fas fa-users"></i> <%=@island.number_of_guests%> guests max </p>

            <p style = "text-align:right;"><i class="fas fa-globe-americas"></i><%=@island.country%></p>

            <p style = "text-align:right;"><i class="fas fa-money-bill-wave"></i><%=@island.price_per_day%>   € per day</p>
          </div>
        </div>

        <!-- ownerpics -->
        <div class="card-trip-user avatar-bordered">
          <%= cl_image_tag @island.user.photo %>
        </div>
      </div>
    </div>

    <!-- CARD INFO -->
    <div class="card-info col-xs-12 col-md-4 col-lg-6">
      <!-- CARD MAP/METEO -->
      <%= render 'shared/map' %>
    </div>
  </div>
</div>
<!-- REVIEWS CARDS -->

<%= render 'shared/reviews' %>


<%= link_to "Book a stay", new_island_booking_path(@island), class: "btn btn-primary"%>
<%#= link_to "Add a review", booking_path(@island.booking), class: "btn btn-primary"%>

<%= link_to "Go back to islands list", islands_path, class: "btn btn-primary"%>


