<div>
  <h1><%= @island.title %></h1>
  <h2><%= @island.name %></h2>
  <h2>About </h2>
<p><%=@island.description%></p>
<p>Number of guests : <%=@island.number_of_guests%></p>
<p> Price per day : <%=@island.price_per_day%></p>
</div>
<h2>About the owner</h2>
<h2>Reviews</h2>
<br><% @island.reviews.each do |review|%></h1>
  <p><%=review.content%></p>
  <p><%=review.stars%></p>
<% end %>
<br>
<br>
<br>
<%= link_to "Book a stay", new_island_booking_path(@island), class: "btn btn-primary"%>
<%#= link_to "Add a review", booking_path(@island.booking), class: "btn btn-primary"%>
<br>
<br>
<%= link_to "Go back to islands list", islands_path, class: "btn btn-primary"%>

