
<div class="d-flex">
  <!-- CARD TRIP -->
  <div class="row justify-content-center">
    <div class="col-5 mr-3 ml-3">
      <div class="card col-12 p-3">
        <!-- CAROUSEL -->
        <%= cl_image_tag @island.photo, crop: :fill %>
        <!-- INFO RECAP -->
          <div>
            <div class="d-flex justify-content-between align-items-center mb-3 mt-2">
              <h2 class="mt-2"><%= @island.name %></h2>
              <p class="mb-0">
                <% if !@island.rating.nil? %>
                  <%= @island.rating %> stars
                <% else %>
                  <%= "No rating yet" %>
                <% end %>
              </p>
            </div>
            <h5><%= @island.title %></h5>
            <br>
            <p><%=@island.description%></p>
            <br>
            <br>
            <div class="recap">
              <p style = "text-align:right;"><i class="fas fa-users"></i> <%=@island.number_of_guests%> guests max </p>

              <p style = "text-align:right;"><i class="fas fa-globe-americas"></i> <%=@island.country%></p>

              <p style = "text-align:right;"><i class="fas fa-money-bill-wave"></i> <%=@island.price_per_day%>   € per day</p>
            </div>
          </div>
      </div>
      <div class="card col-12 p-3">
          <h4>Reviews</h4>
          <%= render 'shared/reviews' %>

          <!-- ownerpics -->
<!--           <div class="card-trip-user avatar-bordered">
            <%= cl_image_tag @island.user.photo %>
          </div> -->
      </div>
    </div>
    <div class="col-5 ml-3 mr-3">
      <!-- CARD MAP/METEO -->
      <div class="row">
        <div class="card col-12 p-3">
          <h5>Booking</h5>
            <%= simple_form_for [@island, @booking] do |f| %>
              <div class="justify-content-around">
                <%= f.input :start_date, as: :string, label:false, placeholder: "Start date",  input_html: { class: 'start-date' } %>
                <%= f.input :end_date, as: :string, label: false, label:false, placeholder: "End date",  input_html: { class: 'end-date' } %>
                <%= f.submit "Book now", class: "btn btn-primary w-100" %>
              </div>
            <% end %>
          </div>
        <div class="card col-12 p-3">
          <h5>Weather in <%= @island.name %> </h5>
          <div id="weather-result">
  <!--           <h4 id="weather-description"></h4> -->
            <img src="" alt="" id="weather-image" class="d-inline-block">
            <h4 id="temperature" class="d-inline-block"></h4>
          </div>
        </div>
        <div class="card col-12 p-3">
          <%= render 'shared/map' %>
        </div>
      </div>
    </div>
  </div>
</div>
