<h4>The islands I own:</h4>
<ul>
  <% @my_islands.each do |island| %>
    <li><%= island.name %> - Rating: <%= island.rating %>
      <ul>
        <% island.bookings.each do |booking| %>
          <li>Booked from <%= booking.start_date %> to <%= booking.end_date %> - <%= link_to "Cancel", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }%></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<h4>My current bookings:</h4>
<ul>
  <% @my_bookings.each do |booking| %>
    <li>Stay in <%= booking.island.name %> from <%= booking.start_date %> to <%= booking.end_date %> - <%= link_to "Cancel", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }%> - <%= link_to "Rate my stay", new_booking_review_path(booking) %></li>
  <% end %>
</ul>


