<h1>Book <%= @island.name %></h1>

<%= simple_form_for [@island, @booking] do |f| %>
  <%= f.input :start_date, as: :string, required: false,  input_html: { class: 'date-picker' } %>
  <%= f.input :end_date, as: :string, required: false,  input_html: { class: 'date-picker' } %>
  <%= f.submit "Confirm", class: "btn btn-primary" %>
<% end %>

<%= link_to "Cancel", island_path(@island), class: "btn btn-danger" %>
