<h1>Book @island.name</h1>

<%= simple_form_for [@island, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Confirm", class: "btn btn-primary" %>
<% end %>

<%= link_to "Cancel", island_path(@island), class: "btn btn-danger" %>
